@model IEnumerable<Trabalho.Models.Consulta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consulta</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <label for="tipo">Filtrar por:</label>

        <select name="tipo" id="tipo">
            <option value="todos">todos</option>
            <option value="paciente">Paciente</option>
            <option value="medico">Medico</option>
            <option value="medicamento">Medicamentos Injetaveis</option>
        </select>
        <p>
            Buscar por: <input type="text" name="busca" value="" />
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </p>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr style="background-color: #ADD8E6; color: #000;">
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento_Injetaveis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtde_Vacina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.paciente.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medico.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento_Injetaveis.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde_Vacina)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
