@model IEnumerable<Trabalho.Models.Medico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <label for="tipo">Filtrar por:</label>

        <select name="tipo" id="tipo">
            <option value="todos">todos</option>
            <option value="nome">Nome</option>
        </select>
        <p>
            Buscar por: <input type="text" name="busca" value="" />
            <input type="submit" value="Filtrar" class="btn btn-default" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.crm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.crm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.especialidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.crm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.crm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.crm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
