@model IEnumerable<Trabalho.Models.Medico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Médicos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>

<form asp-action="Index" method="get" class="row g-3">
    <div class="form-actions no-color row g-3">
        <div class="col-md-2">
            <label for="tipo">Filtrar</label>
            <select class="form-select" name="tipo" id="tipo">
            <option value="todos">todos</option>
            <option value="nome">Nome</option>
            </select>
        </div>
        <br />
        <div class="col-md-5">
            <label>Buscar</label>
            <div class="input-group">
                <input type="text" name="busca" value="" class="form-control" placeholder="Nome...">
                <div class="input-group-append" id="button-addon4">
                    <input type="submit" value="Filtrar" class="btn btn-primary bg-warning text-dark border-0" />
                </div>
            </div>
        </div>
    </div>
</form>

<br />
<br />

<table class="table table-bordered">
    <thead>
        <tr style="background-color: #ADD8E6; color: #000;">
            <th>
                @Html.DisplayNameFor(model => model.crm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.crm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especialidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.crm" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.crm" class="btn btn-info">Detalhe</a> |
                    <a asp-action="Delete" asp-route-id="@item.crm" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
