@model IEnumerable<Trabalho.Models.Paciente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pacientes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>

<form asp-action="Index" method="get" class="row g-3">
    <div class="form-actions no-color row g-3">
        <div class="col-md-2">
            <label for="tipo">Filtrar</label>
            <select class="form-select" name="tipo" id="tipo">
                <option value="todos">todos</option>
                <option value="nome">Nome</option>
            </select>
        </div>
        <br />
        <div class="col-md-5">
            <label>Buscar</label>
            <div class="input-group">
                <input type="text" name="busca" value="" class="form-control" placeholder="Nome...">
                <div class="input-group-append" id="button-addon4">
                    <input type="submit" value="Filtrar" class="btn btn-primary bg-warning text-dark border-0" />
                </div>
            </div>
        </div>
    </div>
</form>
<br />

<table class="table table-bordered">
    <thead>
        <tr style="background-color: #ADD8E6; color: #000;">
            <th>
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.cpf" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.cpf" class="btn btn-info">Detalhe</a> |
                    <a asp-action="Delete" asp-route-id="@item.cpf" class="btn btn-danger">Excluir</a>
            
            </td>
        </tr>
}
    </tbody>
</table>
