@model IEnumerable<Trabalho.Models.Consulta>

@{
    ViewData["Title"] = "consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consulta de Paciente</h1>

<table class="table table-bordered">
    <thead>
        <tr style="background-color: #ADD8E6; color: #000;">
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamento_Injetaveis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qtde_Vacina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.paciente.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medico.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamento_Injetaveis.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde_Vacina)
            </td>
        </tr>
}
    </tbody>
</table>
